.home-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100vw;
    background-image:url(../assets/bg2.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
    background-attachment: fixed;
    min-height: 100vh;   
}

.heading{
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    align-items: center;
    position: relative;    
   
}
.heading>h1{
    font-size: 75px;
    margin: 0.3rem;
}
.heading>h2{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 1px;
    margin: 1rem;

}
#search-container{
    display: flex;
    flex-direction: row;
    margin: 2rem;
}
.search-box-container{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    background-color: rgb(255, 255, 255, 0.8);  
    padding: 1rem;
    height: 220px;
    width: 250px;
    border: 1px solid white;
    border-radius: 10%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.search-content{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    z-index: 1;

}
.search-info{
    text-align: center;
    font-size: 14px;
    margin: 0.3rem;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;

}
.advBtn{
    background: transparent;
    border: 0.5px solid black;
    border-radius: 5px;
    color: #030303;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
    margin-top: 1rem;
    padding: 0 1rem;
    letter-spacing: 2px;

}

.advBtn:hover{
    background-color: rgb(182, 176, 176);
}
.search-button{
  background: linear-gradient(to bottom right, #f00832, #FF9A5A);
  border: 0;
  border-radius: 12px;
  font-family: inherit;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  letter-spacing: 2px;
    margin-top: 1rem;
}

.search-button:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.search-button:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}
 #recipeSearchBtn{
    display: flex;
    flex-direction: row;
 }
 #sb{
    height: 30px;
    margin-top: 1rem;
    margin-left: 1rem;
 }
 .MuiTextField:hover{
    color: rgb(172, 23, 23);
 }
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

   #search-container{
    flex-direction: row;
    padding: 2rem;
   }
   .search-box-container{
    height: 280px;
    width: 220px;
    font-size: small;
    }
    .home-container{
        position: fixed;
        
    }
    .heading{
       margin-top:25%;
    }
}
@media screen and (min-width:1024px){
    .heading{
        margin-top: 3.5rem;
    }
    
}
@media screen and (max-width:1024px){
    .search-box-container{
        height: 200px;
        font-size: small;
    }
    .search-content{
        padding: 0.5rem;
        margin: 1rem;
    }
  
    

  }
  /*.....small devices.... */
  
  @media screen and (max-width:600px){
    .home-container, .search-content, #search-container{
        flex-direction: column;
    }
    .home-container{
        padding: 0.5rem;

    }
    
  }