.nutrients-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
 }
.background-img{
  background-image:url(../assets/bg1.jpeg);
  height: 250px;
  width: 100vw;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;    
}
.form-container{
    background-color:transparent;
    height: max-content;
    width: 70%;
    margin-top: 1rem;
    padding-bottom: 2rem; 
    align-items: center; 
    display: flex;
    flex-direction: column;
} 
#nutrients-title{
  font-size: 32px;
  font-weight: 600;
  margin-top: 1rem;
  border: 1px solid black;
  border-radius: 20px;
  background-color: white;
  text-align: center;
  letter-spacing: 2px;
}
.form-label{
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    
}
.nut-input{
   width: 100px;
   margin-bottom: 0.5rem;
   margin-left: 0.5rem;
   margin-right: 0.2rem;
   border-bottom: 2px solid black;
}

form{
    text-align: center;
    justify-content: center;
}

.nutrientForm{
   display: flex;
   flex-direction: column;
   justify-content: left;
   text-align: left;
   margin-top: 1.5rem; 
   width: max-content;
   
}
 #nutrients-description{
    text-align: center;
    color: black;
    letter-spacing: 2px;
    font-weight: 900;
}
#nutrients-description{
    font-size: 22px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    padding: 1.5rem;

}
.nutrients-detail{
  color: rgb(238, 18, 18);
}
.recipe-container{
  width:100vw;
  background-image:url(../assets/bg6.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;    
  background-attachment: fixed;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 3rem;
}
.recipe-container>h1{
  font-family: 'Lato', sans-serif;
}
.recipe-card-container{
    width:100vw;
    background-image: url(../assets/bg3.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;    
    background-attachment: fixed;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    
}
.recipe-card-container-mealplan{
  width:100vw;
  background-image: url(../assets/bg4.jpeg);
  padding-top: 3rem;
  padding-bottom: 2rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;    
  background-attachment: fixed;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.recipe-card-container>h2,.recipe-card-container-mealplan>h2{
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  margin-bottom: 1rem;
  color: white;
  text-decoration:underline;

}
.cards-mealplan{
  display: grid;
  grid-template-columns: max-content max-content max-content;
  column-gap: 5rem;
  background-color:rgb(245, 245, 220,0.6);
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 10px;
  /* margin-bottom: 4rem; */
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.macros-mealplan{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: 'Lato', sans-serif;
  margin-top: 2rem;
  margin-bottom: 1rem;
  background-color: rgb(0, 0, 0, 0.6);
  border: 1px solid black;
  border-radius: 10%;
  padding: 1rem;
}
.macros-mealplan >ul > li{
  margin-left: 2rem;
  margin-bottom: 5px;

}
.card-content-mealplan{
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  height: 250px;
  width: 200px;
  align-items: center;
}
.cards{
    display: grid;
    grid-template-columns: max-content max-content;
    column-gap: 10rem;
    background-color:rgb(245, 245, 220,0.6);
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 10px;
    margin-bottom: 4rem;
}
.cards-Recipe{
  display: grid;
  grid-template-columns: max-content max-content;
  column-gap: 8rem;
  margin-top: 3rem;
}
.card-content{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 220px;
    align-items: center;
}
.content{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    padding: 1rem;
    justify-content: center;
    text-align: center;
    margin-bottom: 1rem;

}
.content >h4{
  font-family: 'Lato', sans-serif;

}
.goToRecipeLink{
    cursor: pointer;
    color: rgb(238, 18, 18);
    font-weight: bolder;
    letter-spacing: 1px;
}
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

  .form-label, .nut-input{
    font-size: 24px;
  }
  .nutrientForm{
    margin-top: 4rem;
  }
  .recipe-container,
  .recipe-card-container, .recipe-card-container-mealplan{
    height: 100vh;
  }
  .cards-mealplan{
    column-gap: 1rem;
  }
  
}
@media screen and (max-width:1024px){
    .form-label, .nut-input{
        font-size: 26px;
      }
      .nutrientForm{
        margin-top: 4rem;
      }
      #nutrients-description{
        font-size: 28px;
      }
     .form-container{
      margin-top: 5rem;
     }

  }
  /*.....small devices.... */
  
  @media screen and (max-width:600px){
    .form-label, .nut-input{
        font-size: 18px;
      }
      .nutrientForm{
        margin-top: 1rem;
      }
      #nutrients-description{
        font-size: 18px;
      }
      .cards-Recipe,.cards, .cards-mealplan{
        grid-template-columns: auto;
    }
   
    
  }
  @media(max-width: 320px){ 
    .form-label{
        font-size: 14px;
    }
    .nut-input{
        font-size: 14px;
        width: 50px;
    }
  }