.byIngredient-container{
    background-image:url(../assets/bg5-min.jpeg);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
    min-height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;    
    background-attachment: fixed;
    width: 100vw;
    
}
.byIngredient-container>h1{
    margin-top: 4rem;
}
.byIngredient-container>p{
    font-size: 20px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    padding: 2rem;

}
.ingredient-form{
    font-size: 22px;
    background-color: rgba(235, 128, 28, 0.719);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}
.ingredient-form >h3,h6{
    padding-bottom: 0.2rem;
}
.ingredient-form >h6{
    padding-bottom: 0.4rem;
    font-size: 16px;
    letter-spacing: 1px;
    font-family: 'Lato', sans-serif;
    

}
.highlight-text{
    font-size: 22px;
    font-weight: 900;
    color: rgb(238, 18, 18);
}
.byIngDetail-container{
    background-image:url(../assets/bg7.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;    
    background-attachment: fixed;
    min-height: 100vh;
    position: relative;
    margin-top: 2rem;
    padding-top: 1rem;
    text-align: center;
}
.byIngDetail-container>p{
    font-size: 20px;
    text-align: center;
    width: 60%;
    font-family: 'Lato', sans-serif;

}
.byIngDetail-container>p,.byIngDetail-container>h1{
    margin-top:0.5rem;
}
.image-title{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.Ing-img-title{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    text-align: center;
    width: 200px;
    height: 250px;
    margin: 1rem;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 20px;
}

.ing-content-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: max-content;
    margin: 1rem;
}
.ing-content{
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255,0.6);
    border-radius: 5px;
    padding: 1rem;
}
.missed-container,.used-container{
    display: flex;
    flex-direction: column;
   margin-left: 1rem;

}
.missed-container>h2,.used-container>h2{
    font-size: 16px;
    letter-spacing: 1px;
    font-family: 'Lato', sans-serif;
    margin: 2px;
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .byIngDetail-container{
       
        padding-top: 2rem;
    }
    .ing-content-container{
        margin: 1rem;
    }
}
@media screen and (max-width:1024px){
   

  }
  /*.....small devices.... */
  
  @media screen and (max-width:600px){
    .ing-content-container,.ing-content{
        flex-direction: column;
    }
    
  }
  @media(max-width: 320px){ 
  
  }